.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.5px solid #072440;
  background-color: #ffffff;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
}

.links {
  display: flex;
  flex-direction: row;

  .nav-link {
    text-decoration: none;
    padding: 1.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #072440;
    cursor: pointer;
  }
  .nav-icon {
    padding: 0.725rem;
    color: #072440;
  }
}
