.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 80px;
}

.productMenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
}

.product-card {
  min-width: 200px;
  height: 250px;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 50px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    .product {
      background-color: rgba($color: #fff, $alpha: 0.9);
    }
    .icon {
      padding-left: 4px;
      transition: all 0.1s ease-in-out;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  &.large {
    min-width: 310px;
    height: 400px;
  }

  .product-info {
    z-index: 1;
    background-color: rgba($color: #fff, $alpha: 0.7);
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    position: absolute;

    .title {
      font-weight: bold;
      margin: 6px 0;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
